*{
    margin: 0px;
    padding: 0px;
}

body{
    
    background-image: url('/Quiz-1/Imagenes/ImagenForm.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Contenedor{

    text-align: center;           
    background-color: rgba(5, 5, 66, 0.432);
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


footer{

    text-align: center;    
    margin-top: auto;
}

#Inovacion{

    opacity: 0;
}